.load_more {
  text-align: center;
}

.load_more button {
  padding: 10px 25px;
  margin-bottom: 20px;
  border: 1px solid #555;
  text-transform: capitalize;
}

.load_more button:hover {
  background: #242424;
  color: #fff;
  transition: all 0.3s ease-out;
}
