* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  /* padding: 0 10px; */
  box-shadow: 0 0 35px #eee;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/* Responsive */

@media (max-width: 570px) {
  .filter_menu .row span {
    display: none;
  }
}

@media (max-width: 500px) {
  /* .App {
    padding: 0 10px;
  } */
  .detail {
    font-size: 100%;
    padding: 0;
  }
  .filter_menu input {
    margin: 0;
  }
  .filter_menu .sort {
    flex: 1;
  }
  .filter_menu .sort select {
    width: 100%;
    min-width: 290px;
    margin: 5px 0;
  }
  .cart-icon {
    display: none;
  }
}
