.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  width: 100%;
}

.slider h1 {
  margin-bottom: 40px;
  margin-top: 5px;
}

.img {
  width: 1000px;
  height: 400px;
}

.right-arrow {
  position: absolute;
  top: 60%;
  right: 8%;
  font-size: 2.5rem;
  color: black;
  cursor: pointer;
  user-select: none;
  z-index: 99;
}

.left-arrow {
  position: absolute;
  top: 60%;
  left: 8%;
  font-size: 2.5rem;
  color: black;
  cursor: pointer;
  user-select: none;
  z-index: 99;
}

.slide {
  opacity: 0;
  transition: 1s ease;
}

.slide.active {
  opacity: 1;
  transition: 1.5s ease;
  transform: scale(1.08);
}
