.slider-container {
  height: 100vh;
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slides {
  height: 100vh;
  width: 100%;
  position: relative;
}

.slide {
  opacity: 0;
  transition: 1s ease;
}

.slide.active {
  opacity: 1;
  transition: 1.5s ease;
}

.slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.slide-title,
.slide-text {
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 25%;
  z-index: 9;
}

.slide-text {
  top: 35%;
}

.prev,
.next {
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -3rem;
  font-size: 30px;
  font-weight: bold;
  border-radius: 0 5px 5px 0;
}

.prev:hover,
.next:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in;
}

.next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.all-dots {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 65%;
  justify-content: center;
  z-index: 200;
}

.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 3px;
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}

.active-dot,
.dot:hover {
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: #fff;
}

.best-seller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
