.error-message {
  color: rgb(214, 10, 10);
  text-align: center;
  padding: 10px 0px;
  letter-spacing: 1.3px;
}

.success-message {
  color: rgb(9, 158, 54);
  text-align: center;
  padding: 10px 0px;
  letter-spacing: 1.3px;
}
