.scroll-to-top {
  position: fixed;
  bottom: 60px;
  left: 92%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #000;
}

.scroll-to-top:hover {
  cursor: pointer;
}

.icon {
  margin-top: 11px;
  animation: scrollTop 0.5s alternate ease infinite;
  color: #fff;
}
@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}
